{% extends "giftchanger/_base.html" %}
{% block title %}保存完了{% endblock %}

{% block main %}

    <div>選好の保存が完了しました。</div>
    <br>
    <div>提供するものの説明を編集したい場合<a href="{% url 'giftchanger:edit_gift' gift.parent_event.event_id gift.id %}">こちら</a>。</div>
    <div>選好順位の説明を編集したい場合<a href="{% url 'giftchanger:edit_preferences' gift.parent_event.event_id gift.id %}">こちら</a>。</div>


    <br>
    <div>
    マッチング結果は、<a href="{% url 'giftchanger:event_result' gift.parent_event.event_id %}">こちら</a>から確認できます。</div>

{% endblock %}