{% extends "giftchanger/_base.html" %}

{% block title %}イベントを登録{% endblock %}
{% block main %}
    <h2 class="col-12">このイベントに参加者としてログインします。</h2>
    <div class="col-12">イベント名: {{ event.event_name }}</div>
    <div class="col-12">参加者予定数: {{ event.number_of_gifts }}人</div>
    <div class="col-12">登録済み: {{ current_num_gifts }}人</div>
    <br>
    <br>
    登録済みの人数が、参加予定人数に達しました。<br>
    新規にイベントの参加登録を希望する方は。イベントの主催者に連絡してください。<br>
        <form action="{% url 'giftchanger:create_user_post' event.event_id %}" method="post">
        {% csrf_token %}
    <div class="form-label-group">
        <div class="mt-3">登録済みの方は、ここからログインできます。</div>
            <label for="user_name">あなたの名前</label>
            <input id="user_name" name="user_name" class="form-control" placeholder="あなたの名前" required="" autofocus=""
                   type="text">
            <input id="event_id" name="event_id" value="{{ event.event_id }}" hidden>
            <button class="btn btn-primary">ログイン</button>
        </div>
        </form>


{% endblock %}